<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="/default-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/login/webauthn.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            const csrfToken = '[[${_csrf.token}]]';
            setupLogin({"X-CSRF-TOKEN": csrfToken}, "", document.getElementById('passkey-signin'));
        });
    </script>
</head>
<body>
<div class="content">
    <div class="login-form">
        <h2>Login with Passkeys</h2>
        <button id="passkey-signin" type="submit" class="primary">Sign in with a passkey</button>
    </div>
</div>
</body>
</html>
